<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{pkg.name}</title>
	<style>
		body{
			background-color: rebeccapurple;
			color: papayawhip;
		}
		a {
			color: white;
		}
	</style>
</head>
<body>
	<main>
		{% include nav %}
		{{ content }}
	</main>	
	<script></script>
</body>
</html>